#-------------------核心配置-----------------
# 极速模式 (True/False)
# True: 使用 API 直接检测，速度快但不包含 Bot 比例
# False: 使用浏览器模拟检测，包含 Bot 比例，速度较慢
fast_mode: false

# 你的 Clash 配置文件绝对路径 例如 'C:\Users\YourName\AppData\Roaming\clash\config.yaml'
yaml_path: ''

# Clash External Controller 外部控制地址
clash_api_url: "http://127.0.0.1:9097"

# Clash External Controller 外部控制密码 (如果没设置密码留空即可)
clash_api_secret: ""


#-------------------可选配置-----------------
# 输出配置文件后缀
output_suffix: "_checked"

# 全局代理组名称 (通常默认是 GLOBAL 或 Proxy)
selector_name: "GLOBAL"

# 非极速的浏览器模式下是否隐藏浏览器窗口 (True/False)
# True: 隐藏 (后台运行)
# False: 显示 (调试用)
headless: true

# Node跳过检测的关键字列表
skip_keywords:
  - "剩余"
  - "重置"
  - "到期"
  - "有效期"
  - "官网"
  - "网址"
  - "更新"
  - "公告"
  - "建议"

